wp-config.php
wp-content/backup-db/*
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/upgrade/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/uploads/
node_modules/
sitemap.xml
sitemap.xml.gz
.rvmrc
wp-content/uploads
.DS_Store
.bundle
wp-config.php
.ruby-*
wp-content/plugins/post-duplicator
wp-content/plugins/rewrite-rules-inspector
untitled.txt
*.scssc
.htaccess
*.zip